
@font-face {
  font-family: 'CenturySchoolbook-Bold';
  src: url('CenturySchoolbook-Bold.eot?#iefix') format('embedded-opentype'),  url('CenturySchoolbook-Bold.woff') format('woff'), url('CenturySchoolbook-Bold.ttf')  format('truetype'), url('CenturySchoolbook-Bold.svg#CenturySchoolbook-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
